<section class="user-section">

  <h2>
    <%= profile_heading(@user) %>
  </h2>

  <%= show_invite_to_friendship(@user) %>

  <br/>
  <br/>

  <%= render 'friends', user: @user %>

  <br/>
  <br/>

  <%= render 'mutual_friends', user: @user %>

  <br/>
  <br/>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

