<section class="user-section">

  <% if @user == current_user %>
    <h2><%= "My Profile: #{@user.name}" %></h2>
  <% else %>
    <h2><%= "Name: #{@user.name}" %></h2>
    <div><%= invite_to_friendship(@user) %></div>
  <% end %>

  <h3>Friend List:</h3>
  <% @user.friends.each do |f| %>
    <h5><%= f.name %></h5>
  <% end %>


  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
