<section class="user-section">

  <h2>
    <%= profile_heading(@user) %>
  </h2>

  <%= show_invite_to_friendship(@user) %>

  <br/>
  <br/>

  <h3>Friend List:</h3>
  <% @user.friends.each do |f| %>
    <h5><%= f.name %></h5>
  <% end %>

  <br/>
  <br/>

  <% if mutual_friends_list(@user) %>
    <h3>Mutual Friends:</h3>
    <% mutual_friends_list(@user).each do |mf| %>
      <h5><%= mf.name %></h5>
    <% end %>
  <% end %>

  <br/>
  <br/>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>

